<div class="ui form">
    <div class="grouped fields">
        <label>Checkbox Style Examples</label>
        <br>
        <br>
        <div class="ui slider checkbox">
            <input ng-model="toggleCounting" type="checkbox" name="toggleCounting" checked="true">
            <label>Counting</label>
        </div>
        <br>
        <br>
        <div class="ui slider checkbox">
            <input type="checkbox" name="toogleAnother">
            <label>Another Function</label>
        </div>
    </div>
</div>

